.login {
  height: 100vh;
  margin-top: 50px;
  gap: 50px;
}

.login-div-one {
  margin-left: 50px;
}

.login-div-one > img {
  width: 165px;
}

.user-img > img {
  width: 50px;
}

.login-div-two {
  background-color: #00000033;
  width: 620px;
  height: 70%;
  margin: 0 auto;
  border-radius: 6px;
}

.login-div-two > img {
  width: 310px;
}

.login-div-two-form {
  width: 310px;
  margin: 0 auto;
  padding-top: 20px;
  gap: 10px;
}

.div-form-two {
  font-size: 12px;
  color: #565656;
}

.form-two {
  gap: 20px;
}
.form-two > input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #565656;
  padding: 5px;
  background-color: transparent;
}

.form-two > h4 {
  margin-right: 110px;
}

.h4-two {
  color: #565656;
  font-size: 11px;
}

.form-two > button {
  border: none;
  background-color: #9747ff;
  color: white;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  width: 80%;
  margin: auto;
}

.div-google {
  gap: 15px;
  font-size: 12px;
}

.h4-one {
  color: #9747ff;
}

.div-google > h4 a {
  color: #9747ff;
}

.div-or {
  gap: 5px;
}

.div-or > h4 {
  color: #565656;
}

.div-google > button {
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 7px;
  width: 80%;
}
