.users-list{
    color: white;
    background-color: #00000033;
    height: 85vh;
    width:27%;
    border-radius: 5%;
    padding: 15px;
    
}

.users-list-div-one{
    border-bottom: 1px solid #565656;
    margin-bottom: 15px;
    gap: 80px;
    padding: 20px;
    align-items: center;
}

.users-list-div-one > img{
    width: 100px;
    height: 50px;

}

.users-list-div-one-imgs{
    padding-left: 70px;
    gap: 20px;
}

.users-list-div-one-imgs>button{
    background-color: transparent;
}

.users-list-div-one-imgs>button> img{
    width: 25px;
    height: 25px;
}

.blur_div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
}

.blur_div>form{
    gap: 30px;
    margin:50px;
}

.popup-form >label{
    font-weight: bold;
    font-size: 40px;
}

.popup-form>input{
    width: 50%;
}

.popup-form>button{
    background-color: #9747FF;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 10%;
    height: 5vh;
}
.users-list-div-two{
    height: 50vh;
    overflow-y: auto;
}

.user-img >img{
    width: 70px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.contact-x{
    gap: 10px;
    width: 50%;
}

.contact-x .name{
    font-size: 20px;
    font-weight: bold;
}

.contact-x .messsge{
    font-size: 15px;
    padding-left: 10px;
}

.time{
    padding-left: 50px;
    color: #565656;
}

.users-list-div-three{
    border-top:1px solid #565656 ;
    padding: 20px;
    gap: 50px;
}

.below-imgs{
    gap: 10px;
}

.below-imgs >img{
    width: 60px; 
}

.below-imgs p{
    color: #565656;
}